<launch>
    
    <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_camera_init" args="0 0 0 0 0 3.14159 map camera_init" />
    
    <arg name="cameraOffsetZ" default="0"/>
    <arg name="vehicleX" default="0"/>
    <arg name="vehicleY" default="0"/>
    <arg name="checkTerrainConn" default="false"/>

    <include file="$(find local_planner)/launch/local_planner.launch" >
        <arg name="cameraOffsetZ" value="$(arg cameraOffsetZ)"/>
        <arg name="goalX" value="$(arg vehicleX)"/>
        <arg name="goalY" value="$(arg vehicleY)"/>
    </include>

    <include file="$(find terrain_analysis)/launch/terrain_analysis.launch" />

    <include file="$(find terrain_analysis_ext)/launch/terrain_analysis_ext.launch" >
        <arg name="checkTerrainConn" value="$(arg checkTerrainConn)"/>
    </include>

    <include file="$(find sensor_scan_generation)/launch/sensor_scan_generation.launch" />

    <include file="$(find loam_interface)/launch/loam_interface.launch" >
      <arg name="stateEstimation" value="/Odometry" />
    </include>

<node launch-prefix="nice" pkg="rviz" type="rviz" name="rvizGA" args="-d $(find vehicle_simulator)/rviz/vehicle_simulator.rviz" respawn="true"/>
  
    <param name="/loamInterface/if_map" value="true" />
    

  </launch>
  
