<launch>

    <!-- localization-->
    <include file="$(find fast_lio)/launch/mapping_mid360.launch" />

    <!-- local planner-->
    <include file="$(find vehicle_simulator)/launch/build_map.launch" />
    
    <!-- ontomap server -->
    <node pkg="octomap_server" type = "octomap_server_node" name="octomap_server">
      <param name ="resolution" value="0.1" />
      <param name = "frame_id" type="str" value="map" />
      <param name = "sensor_model/max_range" value="1000.0" />
      <param name = "latch" value="true" />
      <param name = "pointcloud_max_z" value="1.0" />
      <param name = "pointcloud_min_z" value="-0.7" />

      <remap from ="/cloud_in" to="/terrain_map" />
    </node>

    <!-- rm serial-->
    <!-- <include file="$(find rm_serial)/launch/rm_serial.launch" /> -->
  
  </launch>
  